// colors
$themeColor: #5086fa;
$helperBgColor: #eaf0f4;
$themeTextColor: #ffffff;
$activeColor: #4673e0;
$textColor: #24292e;

// layout

$globalPadding: .8rem;
$navbarHeight: 3.5rem;
$footerHeight: 3rem;
$sidebarWidth: 10rem;

// responsive breakpoints
$MQMobile: 719px;